
# 4.2 ".ssh/config" - Configuration du client SSH 
# /home/tutopalace/.ssh/config
# Remplacer TOUS les champs par ta configuration  Host (alias), Hostname (ip), Port, User, IdentityFile 


  Host            uc2 titi
  HostName        172.21.0.3
  Port            52222
  User            tutopalace
  IdentityFile    ~/.ssh/id_rsa.uc


