# DOCUMENTATION des videos disponibles sur la chaine @tutopalace
# Sécuriser un serveur Ubuntu Linux  (Serveur privé virtuel Cloud, Raspberry Pi, ...) 
#
# youtube:	https://youtube.com/@tutopalace
# github: 	https://github.com/tutopalace/serveurLinux 
#
# $HOME/.ssh/config - Configuration du client SSH 
# Remplacer TOUS les champs par ta configuration  Host (alias), Hostname (ip), Port, User, IdentityFile 
#
# /home/tutopalace/.ssh/config


Host            uc2 titi		# vos alias 
HostName        172.21.0.3		# l'IP du serveur
Port            22			# port à remplacer (port > 50000)
User            tutopalace		# user à remplacer 
IdentityFile    ~/.ssh/id_rsa.uc	# clé ssh (privé) à utilser


